@import '~styles/helpers/_module';

$row-height: 54px;

:host {
  box-shadow:none;
  background: #ff647b;
  min-height: $row-height;
  z-index:1;

  .container-content{
    width: 100%;
    padding: 10px 20px;
    max-width: 1240px;
  }
}
